

/** web font **/
.font1{	font-family: "Cinzel", serif;}/** webフォント指定 **/
@media screen and (max-width: 650px) {
	.sub_info a, .sub_info em:nth-of-type(2), .sub_info em:nth-of-type(3){	font-family: "Cinzel", serif;}
}

/***** footer *****/
footer{	width: 100%; margin: 0;}
#textlink{	background-color: rgba(120,91,24, 0.95);}
#footer{	background-color: rgba(70,20,10, 0.95);}
.tx_f1, .tx_f1:hover{	color: #FFFFFF;}
.tx_g1, .tx_g1:hover{	color: #FFFFFF;}
.tx_g2, .tx_g2:hover{	color: rgba(255,255,255, 0.3);}
.tx_h1, .tx_h1:hover{	color: #C49627;}
.tx_i1, .tx_i1:hover{	color: #FFFFFF;}
.tx_j1, .tx_j1:hover{	color: #785244;}
.bd_n{ border-color: rgba(255,255,255, 0.3);}

/***** main contents *****/
body.bg_i1{	background-color: #46140A;}
/*認証背景*/
#index_body{
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
background-attachment: fixed;

    background-position: top center;
    -webkit-background-size: cover;
background-size: cover;

}
/*中ページ背景*/
#companion_body{
    background-image: url(/images/bg_page.jpg);
    background-repeat: no-repeat;
background-attachment: fixed;

    background-position: top center;
    -webkit-background-size: cover;
background-size: cover;

}
/*トップページ背景*/
#toppage_body{
    background-image: url(/images/bg_top.jpg);
    background-repeat: no-repeat;
background-attachment: fixed;

    background-position: top center;
    -webkit-background-size: cover;
background-size: cover;

}
.bg_i1{	background-color: rgba(41,12,6, 0.95)}
#shopinfo .sibt .stel:before,
#shopinfo .sibt .stel:after,
#sp_shopinfo .sibt .stel:before,
#sp_shopinfo .sibt .stel:after{	border-color: #FFFFFF;}
.bg_j1{	background-color: rgba(41,12,6, 0.7);}
#cnt.bg_j1{	background-color: rgba(41,12,6, 0)}
#toppage_body #cnt > .bg_j1:nth-of-type(odd),
#cnt > div > .bg_j1:nth-of-type(odd){	background-color: rgba(41,12,6, 0)}

.bg_k1{	background-color: rgba(176,50,25, 1);}
.bg_l1{	background-color: rgba(211,104,0, 0.95);}
.bg_m1{	background-color: rgba(199,41,41, 0.95);}
.bg_n1{	background-color: rgba(67,67,183, 0.95);}
.bg_o1{	background-color: rgba(21,111,17, 0.95);}
.bg_p1{	background-color: rgba(64,18,9, 0.95);}
.bg_x1{
	background: -webkit-linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
	background: -moz-linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
	background: -o-linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
	background: -ms-linear-gradient(45deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
	background: linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
}
.bg_com{	background-color: rgba(64,18,9, 0.95)}
.tx_u1, .tx_u1:hover{	color: #FFFFFF;}
.tx_v1, .tx_v1:hover, a{	color: #B03219;}
.tx_w1, .tx_w1:hover{	color: #C49627;}
.tx_x1, .tx_x1:hover, .tx_x1 .sat, .tx_x1:hover .sat, .tx_x1 .sun, .tx_x1:hover .sun{	color: #FFFFFF;}
.tx_sat, .tx_sat:hover{	color: #0066FF;}
.tx_sun, .tx_sun:hover{	color: #FF0000;}
.bd_e{	border-color: #3D2620;}


/***** header *****/
.tx_k1{	color: #FFFFFF;}
.tx_l1{	color: #ff44b2;}
.tx_m1{	color: #333333;}


/***** hinfo *****/
.tx_q1{	color: #FFFFFF;}
.bd_q1{	border-color: #FFFFFF;}
#hinfo .hopen span:before,
#hinfo .hopen span:after{	background-color: #FFFFFF;}
.bg_q1,
#hinfo .htel span:after{ background-color: rgba(97,73,19, 0.95);}

/***** menu *****/
.tx_n1{	color: #46140A;}
.bd_n1{	border-color: #D6A32A;}
.tx_o1{	color: #222222;}
.tx_n1:before{
	position:absolute;
	top:0;
	left:0;
	display:block;
	content:attr(title);
	color:rgba(70,20,10,1);
	-webkit-mask-image: -webkit-linear-gradient(top, rgba(70,20,10,0) 20%, rgba(70,20,10,1) 40%, rgba(70,20,10,0) 80%);
}
.bg_u1{
	background: rgba(196,150,39, 0.95); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(196,150,39, 0.95) 0%, rgba(254,253,194, 0.95) 50%, rgba(196,150,39, 0.95) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(196,150,39, 0.95) 0%,rgba(254,253,194, 0.95) 50%,rgba(196,150,39, 0.95) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(196,150,39, 0.95) 0%,rgba(254,253,194, 0.95) 50%,rgba(196,150,39, 0.95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(196,150,39, 0.95)', endColorstr='rgba(196,150,39, 0.95)',GradientType=0 ); /* IE6-9 */
}
.bd_u1{	border-color: rgba(196,150,39, 0.95)}
.in_u1{
	box-shadow:0px 1px 0px 0px rgba(133,100,25, 0.95) inset,0px -1px 0px 0px rgba(133,100,25, 0.95) inset;
	-moz-box-shadow:0px 1px 0px 0px rgba(133,100,25, 0.95) inset,0px -1px 0px 0px rgba(133,100,25, 0.95) inset;
	-webkit-box-shadow:0px 1px 0px 0px rgba(133,100,25, 0.95) inset,0px -1px 0px 0px rgba(133,100,25, 0.95) inset;
}


/***** page_title pan *****/
.bd_i:after{	border-color: rgba(97,73,19, 0.95);}
.bd_j:before, .bd_j:after{	border-color: rgba(99,76,20, 1);}
.tx_a2{	color: #C49627;}
.tx_b2{	color: #FFFFFF;}
.tx_c2{	color: rgba(255,255,255, 0.3);}
.tx_c2 span , .tx_c2 span:hover , .tx_c2 a , .tx_c2 a:hover{ color: rgba(255,255,255, 1);}
.bg_r1:before{
	position:absolute;
	top:0;
	left:0;
	display:block;
	content:attr(title);
	color:rgba(254,253,194,1);
	-webkit-mask-image:-webkit-linear-gradient(top, rgba(254,253,194,0) 20%, rgba(254,253,194,1) 40%, rgba(254,253,194,0) 80%);
}


/***** TOP *****/
.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active{	background: #B03219;}
.bx-wrapper .bx-pager.bx-default-pager a{	background: rgba(61,38,32, 0.8);}
.bg_f2{
	background: -webkit-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
	background: -moz-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
	background: -o-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
	background: -ms-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
	background: linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
}
.sd_a{
	box-shadow:0px 0px 0px 1px #3C1109 inset;
	-moz-box-shadow:0px 0px 0px 1px #3C1109 inset;
	-webkit-box-shadow:0px 0px 0px 1px #3C1109 inset;
}
.bd_a{ border-color: #634C14;}

.tx_d1{	color: #C49627;}
.tx_d1:before{
	position:absolute;
	top:0;
	left:0;
	display:block;
	content:attr(title);
	color:rgba(254,253,194,1);
	-webkit-mask-image:-webkit-linear-gradient(top, rgba(254,253,194,0) 20%, rgba(254,253,194,1) 40%, rgba(254,253,194,0) 80%);
}
.tx_e1{ color: #FFFFFF;}
.bd_h{ border-color: #634C14;}
.bg_v1{	background-color: rgba(41,12,6, 0.95);}
.tx_d2{	color: #290C06;}
.bg_z1{	background-color: rgba(64,18,9, 0.9);}

.bg_w1{	background-color: rgba(64,18,9, 0.95);}
.tx_u2{	color: #C49627;}
.ititle .icon:before{
	border-style: solid;
	border-width: 5px 0 5px 10px;
	border-color: transparent transparent transparent #C49627;}
.slick-prev,
.slick-next,
ul#slideIcon li,
.bx-wrapper .bx-controls-direction a{	color: #FFFFFF; background: rgba(176,50,25,0.9);}

.bg_y1{	background-color: rgba(255,68,178, 0.9);}

#schedule li .s_on{
	color: #C49627;
	box-shadow:0px 0px 0px 1px #C49627 inset;
	-moz-box-shadow:0px 0px 0px 1px #C49627 inset;
	-webkit-box-shadow:0px 0px 0px 1px #C49627 inset;
}
#schedule li .s_on span,
#schedule.sche_a .s_on{
	background-color: #C49627;
}

/***** STAFF *****/
.bg_a2{	background-color: #fed3eb;}/** 削除予定:一覧写真の背景 **/

/***** SYSTEM *****/
.bd_l{	border-color: rgba(64,18,9, 0.95);}
.sd_b{
	box-shadow:0px 0px 0px 1px rgba(41,12,6, 0.5) inset;
	-moz-box-shadow:0px 0px 0px 1px rgba(41,12,6, 0.5) inset;
	-webkit-box-shadow:0px 0px 0px 1px rgba(41,12,6, 0.5) inset;
}


/***** PROF *****/
.bd_m{	border-color: #290C06;}
.bg_c2{	background-color: #290C06;}
.ok{
	color: #C49627;
	border-color: #C49627;
}

/***** INDEX *****/
#index_body .tx_k1{	color: #FFFFFF;}
.bg_a1{ background-color: #46140A; }
.bg_b1{	background-color: rgba(41,12,6, 0.95);}
.bg_c1{	background-color: #614913;}
.bg_d1, nav:before{ background-color: #614913; }
.bg_e1{
	background: -webkit-linear-gradient(0deg, rgba(70,20,10, 1) 0%, rgba(60,17,9, 1) 49%, rgba(70,20,10, 1) 100%);
	background: -moz-linear-gradient(0deg, rgba(70,20,10, 1) 0%, rgba(60,17,9, 1) 49%, rgba(70,20,10, 1) 100%);
	background: -o-linear-gradient(0deg, rgba(70,20,10, 1) 0%, rgba(60,17,9, 1) 49%, rgba(70,20,10, 1) 100%);
	background: -ms-linear-gradient(0deg, rgba(70,20,10, 1) 0%, rgba(60,17,9, 1) 49%, rgba(70,20,10, 1) 100%);
	background: linear-gradient(0deg, rgba(70,20,10, 1) 0%, rgba(60,17,9, 1) 49%, rgba(70,20,10, 1) 100%);
}
.tx_a1{	color: #FFFFFF;}
.tx_b1{ color: #FFFFFF;}
.tx_c1{	color: #FFFFFF;}
#index_body footer{ border-color: rgba(120,91,24, 0.95);}

/***** PAGE TITLE ULINE *****/

/***** TOP TITLE ULINE *****/


/** individual img **/
header.header_a{}
header.header_b{
	background-image: url(/images/pc_header.png);
	background-repeat: no-repeat;
	background-position: top center;
}
header.header_b h1{	height: 250px;}

#toppage_body header.header_a,
#toppage_body header.header_b{
	background-image: url(/images/pc_top_header.png);
	background-repeat: no-repeat;
	background-position: center center;
}
#toppage_body header.header_a h1,
#toppage_body header.header_b h1{	height: calc(550px - 110px)}
#index_body header{
	background-repeat: no-repeat;
	background-position: bottom center;
}

main .title , .s_title{
    border-style: double;
    border-bottom-width: 3px;
    border-right-width: 0;
    border-top: none;
    border-left: none;
    box-shadow: none !important; 
    -moz-box-shadow: none; 
    -webkit-box-shadow: none;
    background: rgba(41,12,6,0.95) !important;
}

#rss #rss_l , #maga #maga_l{
    border-right-width: 3px;
    border-bottom-width: 0;
}

#prof .name{
    border-style: double;
    border-bottom-width: 3px;
    border-right: none;
    border-top: none;
    border-left: none;
    box-shadow: none !important;
    -moz-box-shadow: none; 
    -webkit-box-shadow: none;
    background: rgba(41,12,6,0.0);
}

.bd_h{ border-color: rgba(99,76,20,0)  !important;}

/*修正*/.sibt.bd_h{ border-color: rgba(99,76,20,1)  !important;}

#info .bd_h > .bd_h{
    border-color: rgba(99,76,20,1)  !important;
    border-right: none;
    border-left: none;
}
/***** for SP *****/
@media screen and (max-width: 650px) {
	/** SP **/
    body{	background: #46140A !important;}
    /*認証背景*/
	#index_body:before{
		background: url(/images/bg_ipn.jpg) no-repeat top center;
		-webkit-background-size: cover;
		background-size: cover;
    }
    /*中ページ背景*/
    #companion_body:before{
		background: url(/images/bg_ipn_page.jpg) no-repeat top center;
		-webkit-background-size: cover;
		background-size: cover;
    }
    /*トップページ背景*/
    #toppage_body:before{
        background: url(/images/bg_ipn_top.jpg) no-repeat top center;
        -webkit-background-size: cover;
        background-size: cover;
    }
	#topimg{
		background: url(/images/sp_header.png) center center / cover no-repeat;
		-webkit-background-size: contain;
		background-size: contain;
		padding-top: calc((200 / 2) / 375 * 100%);
    }
	#toppage_body #topimg{
		background: url(/images/sp_top_header.png) no-repeat center 100%;
		-webkit-background-size: contain;
		background-size: contain;
		padding-top: calc((450 / 2) / 375 * 100%);
		height: calc(300px - 100px);
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    }
	#toppage_body #ad_div + header + nav + #topimg{
		height: calc(300px - 135px);
	}
	header.header_a, header.header_b,#toppage_body header.header_a,#toppage_body header.header_b{
		background-image: url(/images/sp_logo.png);
		background-position:10px 10px;
		background-repeat: no-repeat;
		-webkit-background-size: auto 35px;
		background-size: auto 35px;
	}
	header.bg_s1{	background-color: rgba(41,12,6, 0.95);}
	#index_body #topimg{
		width: 100%;
		height: auto;
		position: relative;
		margin: 0 0 0 0;
		padding-bottom: 0;
	}
	.bd_sp1 span , .bd_sp1 span:before , .bd_sp1 span:after{	border-color: rgba(254,253,194,1);}
	.bd_sp1{	border-color: rgba(254,253,194,0.3);}

	/** SP menu **/
	nav.bg_u1{
		background: rgba(41,12,6, 1);
	}
	.tx_o1, .tx_n1{	color: #FFFFFF;}
	.bd_n1{	border-color: #3D2620;}

	.bg_d2{	background: rgba(176,50,25, 1);}
	.bg_e2{	background: rgba(196,150,39, 1);}
	.bg_t1{	background-color: rgba(255,68,178, 0.9);}
	.bg_g1{	background-color: rgba(255,255,255, 0.9);}
	.bg_f1{	background-color: rgba(255,68,178, 0.9);}
	.bg_h1{	background-color: rgba(255,255,204, 0.9);}
	.bg_j1{	background-color: rgba(41,12,6, 0.0);}
	#toppage_body #cnt > .bg_j1:nth-of-type(odd),
	#cnt > div > .bg_j1:nth-of-type(odd){	background-color: rgba(41,12,6, 0.0)}
	.bg_v1{	background-color: rgba(41,12,6, 0.95);}
	.bg_p1{	background-color: rgba(64,18,9, 0.95);}
	.bg_com{ background-color: rgba(64,18,9, 0.95)}
	.bg_i1{	background-color: rgba(41,12,6, 0.95)}
	.bg_b1{	background-color: rgba(41,12,6, 0.95);}
	#footer{	background-color: rgba(70,20,10, 0.95);}
	#index_body footer{ border-color: rgba(120,91,24, 0.95);}
	.bg_q1 , #hinfo .htel span:after{ background-color: rgba(97,73,19, 0.95);}
	.bg_f2{
		background: -webkit-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
		background: -moz-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
		background: -o-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
		background: -ms-linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
		background: linear-gradient(90deg, rgba(70,20,10, 0.95) 0%, rgba(60,17,9, 0.95) 49%, rgba(70,20,10, 0.95) 100%);
	}
	.bg_x1{
		background: -webkit-linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 0%, rgba(60,17,9, 0.95) 100%);
		background: -moz-linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
		background: -o-linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
		background: -ms-linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
		background: linear-gradient(90deg, rgba(60,17,9, 0.95) 0%, rgba(51,14,8, 0.95) 49%, rgba(60,17,9, 0.95) 100%);
	}
	.bd_i{	border-color: rgba(97,73,19, 0.95);}
	.bg_w1{	background-color: rgba(64,18,9, 0.95);}
	#textlink{
		border-color: rgba(120,91,24, 0.95);
		background-color: rgba(41,12,6, 0.95);
	}
	.tx_g1{	border-color: #634C14;}
	.tx_g1 , .tx_g1:hover{	color: #FFFFFF;}
	#page-top{ background-color: rgba(41,12,6, 0.95);}
	#page-top a , #page-top a:hover{ color: #FFFFFF;}
	#ad_div a{
		background-color: rgba(70,20,10, 1);
		border-bottom-color: rgba(120,91,24, 1) !important;
		color: rgba(255,255,255, 1);
	}
	#ad_div a span{ color: rgba(196,150,39, 1);}
	#ad_div a span:after{ border-bottom-color: rgba(70,20,10, 1);}

    
#rss #rss_l , #maga #maga_l{
	border-right-width: 0;
	border-bottom-width: 3px;
}

	/***** PAGE TITLE ULINE *****/

	/***** TOP TITLE ULINE *****/

}
