<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="foot">
    <h2 class="s_title bg_f2 sd_a bd_a tx_e1"><em title="站点菜单" class="font1 tx_d1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">站点菜单</font></font></em><br><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">网站菜单</font></font></h2>
    <div id="textlink" class="tx_g2"><a href="/index" title="首页" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">首页</font></font></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><a
            href="/Allprof" title="治疗师名单" class="tx_g1"><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">治疗师名单</font></font><i><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">（26人）</font></font></i></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><!--<a
            href="https://www.bidantokyo.com/system/" title="收费制度" class="tx_g1"><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">收费制度</font></font></a><span><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">│</font></font></span><a href="https://www.bidantokyo.com/schedule/"
                                                                      title="时间表" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">时间表</font></font></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><a
            href="https://www.bidantokyo.com/access/" title="订房表格" class="tx_g1"><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">订房表格</font></font></a><span><font style="vertical-align: inherit;"><font
            style="vertical-align: inherit;">│</font></font></span><a href="https://www.bidantokyo.com/voice/"
                                                                      title="客户的声音" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">客户的声音</font></font></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><a
            href="https://www.bidantokyo.com/blog/" title="照片日记" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">照片日记</font></font></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><a
            href="https://www.bidantokyo.com/hotel/" title="酒店清单" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">酒店清单</font></font></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><a
            href="https://www.bidantokyo.com/recruit/" title="招聘治疗师" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">招聘治疗师</font></font></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><a
            href="https://www.bidantokyo.com/contact/" title="联系我们" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系我们</font></font></a><span><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">│</font></font></span><a
            href="https://www.bidantokyo.com/link/" title="链接" class="tx_g1"><font
            style="vertical-align: inherit;"><font style="vertical-align: inherit;">链接</font></font></a>--></div>

    <div id="footer">
        <div id="up"><a href="/index" data-scroll="" class="font1 tx_f1 bd_n"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">向上翻页</font></font></a></div>
        <div id="finfo" class="tx_i1">
            <h2><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">妇女的习俗|妇女的美丽男性习俗</font></font></h2>
            <p><em class="tx_h1"><font style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">OPEN。打开</font></font></em><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 24小时</font></font></p>
            <p><em class="tx_h1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">电话</font></font></em><font
                    style="vertical-align: inherit;"><font style="vertical-align: inherit;"> 080-7620-0071</font></font>
            </p>
            <!--<div id="ad">
                <span class="tx_h1"><font style="vertical-align: inherit;"><font
                        style="vertical-align: inherit;">由</font></font></span> <a href="https://web.fucolle.com/"
                                                                                   target="_blank" class="tx_i1"><font
                    style="vertical-align: inherit;"><font
                    style="vertical-align: inherit;">海关商店主页创建者</font></font></a><font
                    style="vertical-align: inherit;"><span class="tx_h1"><font
                    style="vertical-align: inherit;">提供支持由</font></span><a href="https://hp.fucolle.com/"
                                                                           target="_blank" class="tx_i1"><font
                    style="vertical-align: inherit;">Deriheru </font></a><span class="tx_h1"><font
                    style="vertical-align: inherit;">设计</font></span><a href="https://hp.fucolle.com/" target="_blank"
                                                                        class="tx_i1"><font
                    style="vertical-align: inherit;">免费主页创建者</font></a></font><br><em>　</em><span class="tx_h1"><font
                    style="vertical-align: inherit;"></font></span> <a href="https://hp.fucolle.com/" target="_blank"
                                                                       class="tx_i1"><font
                    style="vertical-align: inherit;"></font></a>
            </div>-->
        </div>
        <div id="copy" class="font1 tx_j1"><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">
            版权所有©2020 FUCOLLE.COM保留所有权利，</font></font><br><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">
            它支持</font></font><a href="https://delijob.fucolle.com/" title="在Deriheru兼职！" target="_blank"
                                class="tx_j1"><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">JOB</font></font></a><font style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">＆</font></font><a href="https://away.fucolle.com/" title="海关移民网"
                                                                   target="_blank" class="tx_j1"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">AWAY</font></font></a><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">。</font></font><br>
        </div>
    </div>

</div>