<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="nav">
    <ul>
        <li><a href="/index" title="首页" class="tx_o1 bd_n1"><em><span title="首页"
                                                                                               class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">首页</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">首页</font></font></a></li>
        <li><a href="/Allprof" title="治疗师名单" class="tx_o1 bd_n1"><em><span title="投"
                                                                                                    class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">投</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">治疗师名单</font></font><i><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">（26人）</font></font></i></a></li>
        <!--<li><a href="https://www.bidantokyo.com/system/" title="收费制度" class="tx_o1 bd_n1"><em><span title="系统"
                                                                                                    class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">系统</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">收费制度</font></font></a></li>
        <li><a href="https://www.bidantokyo.com/schedule/" title="时间表" class="tx_o1 bd_n1"><em><span title="时间表"
                                                                                                     class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">时间表</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">时间表</font></font></a></li>
        <li><a href="https://www.bidantokyo.com/access/" title="订房表格" class="tx_o1 bd_n1"><em><span title="约定"
                                                                                                    class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">约定</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">订房表格</font></font></a></li>
        <li><a href="https://www.bidantokyo.com/voice/" title="客户的声音" class="tx_o1 bd_n1"><em><span title="评论"
                                                                                                    class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">评论</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">客户的声音</font></font></a></li>
        <li><a href="https://www.bidantokyo.com/blog/" title="照片日记" class="tx_o1 bd_n1"><em><span title="摄影日记"
                                                                                                  class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">摄影日记</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">照片日记</font></font></a></li>
        <li><a href="https://www.bidantokyo.com/hotel/" title="酒店清单" class="tx_o1 bd_n1"><em><span title="旅馆"
                                                                                                   class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">旅馆</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">酒店清单</font></font></a></li>
        <li><a href="https://www.bidantokyo.com/recruit/" title="招聘治疗师" class="tx_o1 bd_n1"><em><span title="招"
                                                                                                      class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font
                style="vertical-align: inherit;">招</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">招聘治疗师</font></font></a></li>
        <li><a href="https://www.bidantokyo.com/contact/" title="联系我们" class="tx_o1 bd_n1"><em><span title="联系"
                                                                                                     class="font1 tx_n1"><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系</font></font></span></em><br><font
                style="vertical-align: inherit;"><font style="vertical-align: inherit;">联系我们</font></font></a></li>-->
    </ul>
</div>