<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cowboy.cowboy.dao.ClerkInfoMapper" >
  <resultMap id="BaseResultMap" type="com.cowboy.cowboy.model.ClerkInfo" >
    <id column="clk_id" property="clkId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="VARCHAR" />
    <result column="hweight" property="hweight" jdbcType="VARCHAR" />
    <result column="face" property="face" jdbcType="VARCHAR" />
    <result column="style" property="style" jdbcType="VARCHAR" />
    <result column="slarartists" property="slarartists" jdbcType="VARCHAR" />
    <result column="Bad_habits" property="badHabits" jdbcType="VARCHAR" />
    <result column="Favorite_food" property="favoriteFood" jdbcType="VARCHAR" />
    <result column="skill" property="skill" jdbcType="VARCHAR" />
    <result column="n_comment" property="nComment" jdbcType="VARCHAR" />
    <result column="introduction" property="introduction" jdbcType="VARCHAR" />
    <result column="n_file" property="nFile" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="Attendance_address" property="attendanceAddress" jdbcType="VARCHAR" />
    <result column="Attendance_atime" property="attendanceAtime" jdbcType="VARCHAR" />
    <result column="grade" property="grade" jdbcType="VARCHAR" />
    <result column="create_by" property="createBy" jdbcType="VARCHAR" />
    <result column="update_by" property="updateBy" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    clk_id, name, age, hweight, face, style, slarartists, Bad_habits, Favorite_food, 
    skill, n_comment, introduction, n_file, tel, Attendance_address, Attendance_atime, 
    grade, create_by, update_by, create_time, update_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.cowboy.cowboy.model.ClerkInfoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from clerk_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from clerk_info
    where clk_id = #{clkId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from clerk_info
    where clk_id = #{clkId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.cowboy.cowboy.model.ClerkInfoExample" >
    delete from clerk_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cowboy.cowboy.model.ClerkInfo" >
    insert into clerk_info (clk_id, name, age, 
      hweight, face, style, 
      slarartists, Bad_habits, Favorite_food, 
      skill, n_comment, introduction, 
      n_file, tel, Attendance_address, 
      Attendance_atime, grade, create_by, 
      update_by, create_time, update_time
      )
    values (#{clkId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{age,jdbcType=VARCHAR}, 
      #{hweight,jdbcType=VARCHAR}, #{face,jdbcType=VARCHAR}, #{style,jdbcType=VARCHAR}, 
      #{slarartists,jdbcType=VARCHAR}, #{badHabits,jdbcType=VARCHAR}, #{favoriteFood,jdbcType=VARCHAR}, 
      #{skill,jdbcType=VARCHAR}, #{nComment,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}, 
      #{nFile,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{attendanceAddress,jdbcType=VARCHAR}, 
      #{attendanceAtime,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{createBy,jdbcType=VARCHAR}, 
      #{updateBy,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cowboy.cowboy.model.ClerkInfo" >
    insert into clerk_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="clkId != null" >
        clk_id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="age != null" >
        age,
      </if>
      <if test="hweight != null" >
        hweight,
      </if>
      <if test="face != null" >
        face,
      </if>
      <if test="style != null" >
        style,
      </if>
      <if test="slarartists != null" >
        slarartists,
      </if>
      <if test="badHabits != null" >
        Bad_habits,
      </if>
      <if test="favoriteFood != null" >
        Favorite_food,
      </if>
      <if test="skill != null" >
        skill,
      </if>
      <if test="nComment != null" >
        n_comment,
      </if>
      <if test="introduction != null" >
        introduction,
      </if>
      <if test="nFile != null" >
        n_file,
      </if>
      <if test="tel != null" >
        tel,
      </if>
      <if test="attendanceAddress != null" >
        Attendance_address,
      </if>
      <if test="attendanceAtime != null" >
        Attendance_atime,
      </if>
      <if test="grade != null" >
        grade,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="clkId != null" >
        #{clkId,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        #{age,jdbcType=VARCHAR},
      </if>
      <if test="hweight != null" >
        #{hweight,jdbcType=VARCHAR},
      </if>
      <if test="face != null" >
        #{face,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        #{style,jdbcType=VARCHAR},
      </if>
      <if test="slarartists != null" >
        #{slarartists,jdbcType=VARCHAR},
      </if>
      <if test="badHabits != null" >
        #{badHabits,jdbcType=VARCHAR},
      </if>
      <if test="favoriteFood != null" >
        #{favoriteFood,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="nComment != null" >
        #{nComment,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="nFile != null" >
        #{nFile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="attendanceAddress != null" >
        #{attendanceAddress,jdbcType=VARCHAR},
      </if>
      <if test="attendanceAtime != null" >
        #{attendanceAtime,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cowboy.cowboy.model.ClerkInfoExample" resultType="java.lang.Integer" >
    select count(*) from clerk_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update clerk_info
    <set >
      <if test="record.clkId != null" >
        clk_id = #{record.clkId,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.age != null" >
        age = #{record.age,jdbcType=VARCHAR},
      </if>
      <if test="record.hweight != null" >
        hweight = #{record.hweight,jdbcType=VARCHAR},
      </if>
      <if test="record.face != null" >
        face = #{record.face,jdbcType=VARCHAR},
      </if>
      <if test="record.style != null" >
        style = #{record.style,jdbcType=VARCHAR},
      </if>
      <if test="record.slarartists != null" >
        slarartists = #{record.slarartists,jdbcType=VARCHAR},
      </if>
      <if test="record.badHabits != null" >
        Bad_habits = #{record.badHabits,jdbcType=VARCHAR},
      </if>
      <if test="record.favoriteFood != null" >
        Favorite_food = #{record.favoriteFood,jdbcType=VARCHAR},
      </if>
      <if test="record.skill != null" >
        skill = #{record.skill,jdbcType=VARCHAR},
      </if>
      <if test="record.nComment != null" >
        n_comment = #{record.nComment,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null" >
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
      <if test="record.nFile != null" >
        n_file = #{record.nFile,jdbcType=VARCHAR},
      </if>
      <if test="record.tel != null" >
        tel = #{record.tel,jdbcType=VARCHAR},
      </if>
      <if test="record.attendanceAddress != null" >
        Attendance_address = #{record.attendanceAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.attendanceAtime != null" >
        Attendance_atime = #{record.attendanceAtime,jdbcType=VARCHAR},
      </if>
      <if test="record.grade != null" >
        grade = #{record.grade,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update clerk_info
    set clk_id = #{record.clkId,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      age = #{record.age,jdbcType=VARCHAR},
      hweight = #{record.hweight,jdbcType=VARCHAR},
      face = #{record.face,jdbcType=VARCHAR},
      style = #{record.style,jdbcType=VARCHAR},
      slarartists = #{record.slarartists,jdbcType=VARCHAR},
      Bad_habits = #{record.badHabits,jdbcType=VARCHAR},
      Favorite_food = #{record.favoriteFood,jdbcType=VARCHAR},
      skill = #{record.skill,jdbcType=VARCHAR},
      n_comment = #{record.nComment,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR},
      n_file = #{record.nFile,jdbcType=VARCHAR},
      tel = #{record.tel,jdbcType=VARCHAR},
      Attendance_address = #{record.attendanceAddress,jdbcType=VARCHAR},
      Attendance_atime = #{record.attendanceAtime,jdbcType=VARCHAR},
      grade = #{record.grade,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cowboy.cowboy.model.ClerkInfo" >
    update clerk_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="age != null" >
        age = #{age,jdbcType=VARCHAR},
      </if>
      <if test="hweight != null" >
        hweight = #{hweight,jdbcType=VARCHAR},
      </if>
      <if test="face != null" >
        face = #{face,jdbcType=VARCHAR},
      </if>
      <if test="style != null" >
        style = #{style,jdbcType=VARCHAR},
      </if>
      <if test="slarartists != null" >
        slarartists = #{slarartists,jdbcType=VARCHAR},
      </if>
      <if test="badHabits != null" >
        Bad_habits = #{badHabits,jdbcType=VARCHAR},
      </if>
      <if test="favoriteFood != null" >
        Favorite_food = #{favoriteFood,jdbcType=VARCHAR},
      </if>
      <if test="skill != null" >
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="nComment != null" >
        n_comment = #{nComment,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null" >
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
      <if test="nFile != null" >
        n_file = #{nFile,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        tel = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="attendanceAddress != null" >
        Attendance_address = #{attendanceAddress,jdbcType=VARCHAR},
      </if>
      <if test="attendanceAtime != null" >
        Attendance_atime = #{attendanceAtime,jdbcType=VARCHAR},
      </if>
      <if test="grade != null" >
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where clk_id = #{clkId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cowboy.cowboy.model.ClerkInfo" >
    update clerk_info
    set name = #{name,jdbcType=VARCHAR},
      age = #{age,jdbcType=VARCHAR},
      hweight = #{hweight,jdbcType=VARCHAR},
      face = #{face,jdbcType=VARCHAR},
      style = #{style,jdbcType=VARCHAR},
      slarartists = #{slarartists,jdbcType=VARCHAR},
      Bad_habits = #{badHabits,jdbcType=VARCHAR},
      Favorite_food = #{favoriteFood,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      n_comment = #{nComment,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR},
      n_file = #{nFile,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      Attendance_address = #{attendanceAddress,jdbcType=VARCHAR},
      Attendance_atime = #{attendanceAtime,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      update_by = #{updateBy,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where clk_id = #{clkId,jdbcType=BIGINT}
  </update>
</mapper>